/* font styles */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  font-family: "Noto Serif", serif;
  background-color: #f9fbfd;
  color: rgba(37, 36, 50, 1);
  padding: 20px;
}
/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}


.nav-links a {
  text-decoration: none;
  color: rgba(37, 36, 50, 1);
  font-weight: 500;
}

#light{
    color: rgba(137, 135, 161, 1);
}

.cart {
  font-weight: bold;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.banner-text {
  flex: 1;
  padding-right: 20px;
}

.banner-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.highlight {
  color: rgba(233, 90, 8, 1);
}

.banner-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.banner-image {
  flex: 1;
  text-align: right;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}